[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-shoulda"]
	path = vim/bundle/vim-shoulda
	url = git://github.com/tsaleh/vim-shoulda.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vim/bundle/vim-stylus"]
	path = vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/json.vim"]
	path = vim/bundle/json.vim
	url = git://github.com/vim-scripts/JSON.vim.git
[submodule "vim/bundle/jshint.vim"]
	path = vim/bundle/jshint.vim
	url = git@github.com:walm/jshint.vim.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = git@github.com:groenewege/vim-less
[submodule "vim/bundle/golang"]
	path = vim/bundle/golang
	url = git@github.com:jnwhiteh/vim-golang.git
