[submodule "vim/bundle/gist-vim"]
	path = vim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-blackboard"]
	path = vim/bundle/vim-blackboard
	url = git://github.com/nelstrom/vim-blackboard.git
[submodule "vim/bundle/vim-shoulda"]
	path = vim/bundle/vim-shoulda
	url = git://github.com/tsaleh/vim-shoulda.git
