.DS_Store
*.swp
vim/.netrwhist
mutt/cache
mutt/certificates
auth
.goobook_cache
w3m/history
w3m/w3mcache*
w3m/w3msrc*
w3m/w3mtmp*
w3m/cookie
config/chromium
config/QtProject
config/VirtualBox
config/configstore
config/heroku
config/htop
config/menus
config/spotify
config/Mist
config/gtk-2.0
config/google-chrome
vim/spell
config/QtProject.conf
config/compiz-1/
config/dconf/
config/easytag/
config/evolution/
config/gtk-3.0/
config/ibus/
config/libaccounts-glib/
config/libreoffice/
config/mimeapps.list
config/mpd/log
config/nautilus/
config/pulse/
config/transmission/
config/unity/
config/update-notifier/
config/user-dirs.dirs
config/user-dirs.locale
newsbeuter/cache.db
newsbeuter/history.cmdline
newsbeuter/history.search
newsbeuter/queue
zsh/gvm.zsh
config/rtv
config/mpd/database
config/mpd/pid
config/mpd/playlists/podcasts.m3u
config/mpd/state
config/mpd/sticker.sql
config/pavucontrol.ini
newsboat/cache.db
newsboat/history.cmdline
newsboat/history.search
