auth
config/Android Open Source Project/
config/Daedalus Mainnet/
config/GIMP/
config/Google/
config/Keybase/
config/Ledger Live/
config/Mist
config/Pinta/
config/PlantUML Editor/
config/QtProject
config/QtProject.conf
config/Signal Beta
config/Signal/
config/Slack/
config/Unknown Organization/
config/VirtualBox
config/Yubico/
config/airtame-application/
config/ardour6/
config/audacity/
config/autostart/
config/brinkervii/
config/calibre/
config/chrome-flags.conf
config/chromium
config/chromium-flags.conf
config/coc
config/compiz-1/
config/configstore
config/dconf/
config/discord/
config/easytag/
config/enchant/
config/evince/
config/evolution/
config/fontforge/
config/gatsby/
config/gcloud/
config/gconf/
config/gh/
config/glib-2.0/
config/go/
config/google-chrome
config/gthumb/
config/gtk-2.0
config/gtk-3.0/
config/hardhat-nodejs/
config/helm/
config/heroku
config/htop
config/hub
config/i3status-rs/
config/ibus/
config/inkscape/
config/keybase/
config/khard/
config/lazygit/
config/libaccounts-glib/
config/libreoffice/
config/linkchecker/
config/menus
config/mimeapps.list
config/mono.addins/
config/mozilla/
config/mpd/database
config/mpd/log
config/mpd/pid
config/mpd/playlists/podcasts.m3u
config/mpd/state
config/mpd/sticker.sql
config/mpv/watch_later
config/mutt/oauth/
config/nautilus/
config/ncmpcpp/error.log
config/ncspot/
config/neofetch/
config/nordvpn/
config/opera/
config/pavucontrol.ini
config/pulse/
config/rmapi/
config/rtv
config/skypeforlinux
config/spotify
config/systemd/user/default.target.wants/
config/systemd/user/timers.target.wants/
config/tmux/plugins/
config/todoman/
config/transmission/
config/truffle-nodejs/
config/truffle/
config/unity/
config/update-notifier/
config/user-dirs.dirs
config/user-dirs.locale
config/vlc/
config/weechat
config/wireshark/
config/xbuild/
config/yarn/
config/zoomus.conf
config/helix/runtime/
config/neomutt/






.DS_Store
.goobook_cache
mutt/cache
mutt/certificates
newsbeuter/cache.db
newsbeuter/history.cmdline
newsbeuter/history.search
newsbeuter/queue
newsboat/cache.db
newsboat/cache.db.lock
newsboat/history.cmdline
newsboat/history.search
*.swp
config/vim/.netrwhist
vim/spell
config/w3m/cookie
config/w3m/history
config/w3m/w3mcache*
config/w3m/w3msrc*
config/w3m/w3mtmp*
zsh/gvm.zsh

config/vdirsyncer/george@shapeshed.com-calendar
config/vdirsyncer/george@shapeshed.com-contacts
mutt/oauth/mutt_oauth2.py
mutt/oauth/george@shapeshed.com
config/mutt/cache/shapeshed/headers

config/zsh/.zcompdump
