[Unit]
Description=bugwarrior-pull
After=network.target network-online.target dbus.socket

[Service]
Environment="DISPLAY=:0"
ExecStart=/usr/bin/bugwarrior-pull
Type=oneshot

[Install]
WantedBy=default.target

