[Unit]
Description=Script to update castget
After=network.target network-online.target dbus.socket

[Service]
Type=simple
ExecStart=/usr/bin/castget -1 -C /home/go/.config/castget/castgetrc
ExecStartPost=/usr/bin/castget -C /home/go/.config/castget/castgetrc
ExecStartPost=/home/go/.local/bin/clean_podcast_filenames
[Install]
WantedBy=default.target
