[Unit]
Description=Update castget every 20 minutes

[Timer]
OnCalendar=*:0/20
OnBootSec=5min
OnUnitActiveSec=1h
Unit=castget.service

[Install]
WantedBy=timers.target
