[Unit]
Description=Update castget every 30 minutes

[Timer]
OnCalendar=*:0/30
OnBootSec=5min
OnUnitActiveSec=1h
Unit=castget.service

[Install]
WantedBy=timers.target
