[Unit]
Description=Script to update castget
After=network.target network-online.target dbus.socket

[Service]
Type=simple
ExecStart=/usr/bin/castget -1
ExecStartPost=/usr/bin/castget -c

[Install]
WantedBy=default.target
