[Unit]
Description=Call mbsync every 2 minutes

[Timer]
OnCalendar=*:0/2
OnBootSec=5min
OnUnitActiveSec=1h
Unit=mbsync.service

[Install]
WantedBy=timers.target
