[Unit]
Description=Update msmtpq every 2 minutes

[Timer]
OnCalendar=*:0/2
OnBootSec=5min
OnUnitActiveSec=1h
Unit=msmtpq.service

[Install]
WantedBy=timers.target
