[Unit]
Description=Script to update newsbeuter
After=network.target network-online.target dbus.socket

[Service]
Type=simple
ExecStart=/usr/bin/newsbeuter -x reload

[Install]
WantedBy=default.target
