[Unit]
Description=Run task sync every few minutes
After=network.target network-online.target dbus.socket

[Service]
Type=simple
ExecStart=/usr/bin/task sync
NoNewPrivileges=true
